Etape2/ActivityManager/WPFActivityManager/Service References/ActivityService/ActivityManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.BestDev.be/ActivityManager" elementFormDefault="qualified" targetNamespace="http://www.BestDev.be/ActivityManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" />
  <xs:element name="LicenceInfo" nillable="true" type="xs:string" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" name="datas" nillable="true" type="q1:ArrayOfActivity" />
  <xs:element name="getActivitiesOnDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TheDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesOnDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" minOccurs="0" name="getActivitiesOnDateResult" nillable="true" type="q2:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" minOccurs="0" name="AToInsert" nillable="true" type="q3:Activity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>