Etape2/ActivityManager/ActivityManager.Test/Service References/ProxyActivityNS/ActivityManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.BestDev.be/ActivityManager" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.BestDev.be/ActivityManager" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.BestDev.be/ActivityManager/Imports">
      <xsd:import namespace="http://www.BestDev.be/ActivityManager" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ActivityManager.Services.Faults" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ActivityService_getActivities_InputMessage">
    <wsdl:part name="parameters" element="tns:getActivities" />
  </wsdl:message>
  <wsdl:message name="ActivityService_getActivities_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityService_getActivities_ActivityFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ActivityManager.Services.Faults" name="detail" element="q1:ActivityFaultContract" />
  </wsdl:message>
  <wsdl:message name="ActivityService_getActivitiesOnDate_InputMessage">
    <wsdl:part name="parameters" element="tns:getActivitiesOnDate" />
  </wsdl:message>
  <wsdl:message name="ActivityService_getActivitiesOnDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActivitiesOnDateResponse" />
  </wsdl:message>
  <wsdl:message name="ActivityService_getActivitiesOnDate_ActivityFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ActivityManager.Services.Faults" name="detail" element="q2:ActivityFaultContract" />
  </wsdl:message>
  <wsdl:portType name="ActivityService">
    <wsdl:operation name="getActivities">
      <wsdl:input wsaw:Action="http://www.BestDev.be/ActivityManager/ActivityService/getActivities" message="tns:ActivityService_getActivities_InputMessage" />
      <wsdl:output wsaw:Action="http://www.BestDev.be/ActivityManager/ActivityService/getActivitiesResponse" message="tns:ActivityService_getActivities_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.BestDev.be/ActivityManager/ActivityService/getActivitiesActivityFaultContractFault" name="ActivityFaultContractFault" message="tns:ActivityService_getActivities_ActivityFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActivitiesOnDate">
      <wsdl:input wsaw:Action="http://www.BestDev.be/ActivityManager/ActivityService/getActivitiesOnDate" message="tns:ActivityService_getActivitiesOnDate_InputMessage" />
      <wsdl:output wsaw:Action="http://www.BestDev.be/ActivityManager/ActivityService/getActivitiesOnDateResponse" message="tns:ActivityService_getActivitiesOnDate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.BestDev.be/ActivityManager/ActivityService/getActivitiesOnDateActivityFaultContractFault" name="ActivityFaultContractFault" message="tns:ActivityService_getActivitiesOnDate_ActivityFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>