Etape2/ActivityManager/ActivityManager.Test/Service References/ProxyActivityNS/ActivityManager.Services.Faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ActivityManager.Services.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ActivityManager.Services.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActivityFaultContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityFaultContract" nillable="true" type="tns:ActivityFaultContract" />
</xs:schema>