Etape2/ActivityManager/ActivityManager.Test/Service References/ProxyActivityNS/ActivityManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.BestDev.be/ActivityManager" elementFormDefault="qualified" targetNamespace="http://www.BestDev.be/ActivityManager" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" />
  <xs:element name="getActivities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" minOccurs="0" name="getActivitiesResult" nillable="true" type="q1:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesOnDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TheDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getActivitiesOnDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ActivityManager.DAL.ClientModel" minOccurs="0" name="getActivitiesOnDateResult" nillable="true" type="q2:ArrayOfActivity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>